## Task 6.1 Sourcing Open Data
### Contents

#### Importing Libraries & Dataset
#### Analysing Data Quality Check
#### Data Wrangling
#### Descriptive Analysis
#### Exporting Clean Data

### Importing Libraries & Dataset

In [1]:
# Import Libraries 

import pandas as pd
import numpy as np
import os

In [2]:
# Creating path for datasets

path = r'C:\Users\aleen\OneDrive\Desktop\Aleena\CF assignments\Data Immersion\Achievement 6\Climate Change\ClimateChange'

In [3]:
# Importing Environment_Temperature_Change as df_climate

df_climate =  pd.read_csv(os.path.join(path, 'Environment_Temperature_change_E_All_Data_NOFLAG.csv'), index_col = False)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0 in position 479: invalid start byte

In [4]:
# Import 'Chardet' to find the encoding

import chardet
with open(os.path.join(path, 'Environment_Temperature_change_E_All_Data_NOFLAG.csv'), 'rb') as f: 
    result = chardet.detect(f.read())
    print(result['encoding'])

Windows-1252

In [5]:
# Importing Environment_Temperature_Change as df_climate
# Using encoding 'ISO-8859-1' which is similar to 'Windows-1252'/'CP-1252'

df_climate =  pd.read_csv(os.path.join(path, 'Environment_Temperature_change_E_All_Data_NOFLAG.csv'), encoding='iso-8859-1', index_col = False)

### Analysing the Dataset

In [6]:
# Check shape

df_climate.shape

(9656, 66)

In [7]:
df_climate.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

#### Checking for Missing Value

In [27]:
df_climate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4828 entries, 0 to 9654
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Area    4828 non-null   object
 1   Months  4828 non-null   object
 2   Y1961   4152 non-null   float64
 3   Y1962   4161 non-null   float64
 4   Y1963   4147 non-null   float64
 5   Y1964   4127 non-null   float64
 6   Y1965   4149 non-null   float64
 7   Y1966   4199 non-null   float64
 8   Y1967   4182 non-null   float64
 9   Y1968   4186 non-null   float64
 10  Y1969   4178 non-null   float64
 11  Y1970   4171 non-null   float64
 12  Y1971   4172 non-null   float64
 13  Y1972   4181 non-null   float64
 14  Y1973   4229 non-null   float64
 15  Y1974   4221 non-null   float64
 16  Y1975   4174 non-null   float64
 17  Y1976   4138 non-null   float64
 18  Y1977   4171 non-null   float64
 19  Y1978   4206 non-null   float64
 20  Y1979   4186 non-null   float64
 21  Y1980   4183 non-null   float64
 22  Y1981   4175 non-null   float64
 23  Y1982   4153 non-null   float64
 24  Y1983   4135 non-null   float64
 25  Y1984   4168 non-null   float64
 26  Y1985   4143 non-null   float64
 27  Y1986   4167 non-null   float64
 28  Y1987   4176 non-null   float64
 29  Y1988   4175 non-null   float64
 30  Y1989   4171 non-null   float64
 31  Y1990   4162 non-null   float64
 32  Y1991   4139 non-null   float64
 33  Y1992   4423 non-null   float64
 34  Y1993   4425 non-null   float64
 35  Y1994   4450 non-null   float64
 36  Y1995   4468 non-null   float64
 37  Y1996   4491 non-null   float64
 38  Y1997   4419 non-null   float64
 39  Y1998   4457 non-null   float64
 40  Y1999   4434 non-null   float64
 41  Y2000   4458 non-null   float64
 42  Y2001   4400 non-null   float64
 43  Y2002   4436 non-null   float64
 44  Y2003   4483 non-null   float64
 45  Y2004   4496 non-null   float64
 46  Y2005   4501 non-null   float64
 47  Y2006   4547 non-null   float64
 48  Y2007   4563 non-null   float64
 49  Y2008   4530 non-null   float64
 50  Y2009   4507 non-null   float64
 51  Y2010   4510 non-null   float64
 52  Y2011   4529 non-null   float64
 53  Y2012   4483 non-null   float64
 54  Y2013   4527 non-null   float64
 55  Y2014   4501 non-null   float64
 56  Y2015   4494 non-null   float64
 57  Y2016   4484 non-null   float64
 58  Y2017   4496 non-null   float64
 59  Y2018   4486 non-null   float64
 60  Y2019   4486 non-null   float64
dtypes: float64(59), object(2)
memory usage: 2.3+ MB

In [28]:
# Print columns with missing values

print("Number of NaN values before filling :\n", df_climate.isnull().sum().sort_values(ascending=False))

Number of NaN values before filling :
 Y1964     701
Y1983     693
Y1976     690
Y1991     689
Y1985     685
         ...
Y2008     298
Y2006     281
Y2007     265
Months      0
Area        0
Length: 61, dtype: int64

### Addressing Missing Values

In [29]:
# Add mean value in place of missing value

df_climate.fillna(df_climate.mean(), inplace=True)

C:\Users\aleen\AppData\Local\Temp\ipykernel_26796\3794450335.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_climate.fillna(df_climate.mean(), inplace=True)

In [30]:
# Print if any missing value

print("\nNumber of NaN values after filling :\n", df_climate.isnull().sum().sort_values(ascending=False))

Number of NaN values after filling :
 Area     0
Y1990    0
Y1992    0
Y1993    0
Y1994    0
        ..
Y1984    0
Y1985    0
Y1986    0
Y1987    0
Y2019    0
Length: 61, dtype: int64

### Finding Duplicates

In [35]:
# Check for duplicates

df_dups = df_climate[df_climate.duplicated()]

In [36]:
# Check dataset for duplicates

df_dups

Empty DataFrame
Columns: [Area, Months, Y1961, Y1962, Y1963, Y1964, Y1965, Y1966, Y1967, Y1968, Y1969, Y1970, Y1971, Y1972, Y1973, Y1974, Y1975, Y1976, Y1977, Y1978, Y1979, Y1980, Y1981, Y1982, Y1983, Y1984, Y1985, Y1986, Y1987, Y1988, Y1989, Y1990, Y1991, Y1992, Y1993, Y1994, Y1995, Y1996, Y1997, Y1998, Y1999, Y2000, Y2001, Y2002, Y2003, Y2004, Y2005, Y2006, Y2007, Y2008, Y2009, Y2010, Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017, Y2018, Y2019]
Index: []

[0 rows x 61 columns]

No duplicates found

### Mixed Type Data

In [37]:
df_climate.dtypes

Area       object
Months     object
Y1961     float64
Y1962     float64
Y1963     float64
           ...
Y2015     float64
Y2016     float64
Y2017     float64
Y2018     float64
Y2019     float64
Length: 61, dtype: object

### Data Wrangling

In [13]:
# Change column name 'Element' to 'Temperature Change'

df_climate = df_climate.loc[df_climate['Element'] == 'Temperature change']

In [14]:
# Check output

df_climate.columns

Index(['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967',
       'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975',
       'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983',
       'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991',
       'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999',
       'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015',
       'Y2016', 'Y2017', 'Y2018', 'Y2019'],
      dtype='object')

In [16]:
# Drop unnecessary columns

df_climate.drop(['Area Code', 'Months Code', 'Element Code', 'Element', 'Unit'], axis=1, inplace=True)

In [17]:
# Check output

df_climate.columns

Index(['Area', 'Months', 'Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966',
       'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974',
       'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982',
       'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990',
       'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998',
       'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006',
       'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014',
       'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019'],
      dtype='object')

In [43]:
df_climate.replace(to_replace=r'Dec\x96Jan\x96Feb', value='Winter', regex=True, inplace=True)

In [44]:
df_climate.replace(to_replace=r'Mar\x96Apr\x96May', value='Spring', regex=True, inplace=True)

In [45]:
df_climate.replace(to_replace=r'Jun\x96Jul\x96Aug', value='Summer', regex=True, inplace=True)

In [46]:
df_climate.replace(to_replace=r'Sep\x96Oct\x96Nov', value='Fall', regex=True, inplace=True)

In [47]:
# Rename columns 'Area' & 'Months'

df_climate.rename(columns = {'Area':'country_name', 'Months':'months'}, inplace=True)

In [49]:
# Add a column 'year' with values of 'temp_change'

df = pd.melt(df_climate, id_vars=['country_name', 'months'], var_name='year', value_name='temp_change')
df['year'] = [i.split('Y')[-1] for i in df.year]

In [50]:
# Check dataset

df

       country_name               months  year  temp_change
0       Afghanistan              January  1961        0.777
1       Afghanistan             February  1961       -1.743
2       Afghanistan                March  1961        0.516
3       Afghanistan                April  1961       -1.709
4       Afghanistan                  May  1961        1.412
...             ...                  ...   ...          ...
284847         OECD               Winter  2019        1.527
284848         OECD               Spring  2019        1.352
284849         OECD               Summer  2019        1.078
284850         OECD                 Fall  2019        1.233
284851         OECD  Meteorological year  2019        1.297

[284852 rows x 4 columns]

#### Descriptive Analysis

In [51]:
df.describe()

         temp_change
count  284852.000000
mean        0.470792
std         0.960186
min        -9.334000
25%        -0.045000
50%         0.382000
75%         0.940000
max        11.759000

### Exporting Data

In [52]:
# Exporting checked df_climate_clean

df.to_csv(os.path.join(path, 'climate_change.csv'))